@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #34D399;
  --background-image-dotted: url('/images/dotted-bg.svg');
  --blur-xs: 2px;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
